@media (max-width: 768px) 
{
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 80%;
        border-radius: 5px;
        background-color: white;
        margin-top: 20px;
        font-family: 'Verdana';
    }
}

@media (min-width: 768px) 
{
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 50%;
        border-radius: 5px;
        background-color: white;
        margin-top: 20px;
        font-family: 'Verdana';
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.project-image {
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    height: 200px;
    width: 100%
}

.project-info-container {
    padding: 2px 16px;
    font-size: 24px;
    font-family: 'Mercury Display A', 'Mercury Display B', 'Times New Roman' ,'Times' ,serif;
}

#project-title {
    font-family: Whitney A, Whitney B,Arial,Helvetica,sans-serif;
    color: #80241e;
    object-fit: cover;
}

#project-title .a:hover .a:link .a:visited {
    color: #80241e;
}
