<!doctype html>
    <html>
        <head>
            <link rel="stylesheet" type='text/css' href="/css/960_12_col.css">
            <link rel="stylesheet" type='text/css' href="/css/styles.css">
            <title> {{ page.title }}</title>
        </head>
        <body>
        <header class ="row">
            <br>
            <h2>William Bowden</h2>
            <img class="profile" src="WilliamBowden.png" alt="Profile"/>
            <div>
            <span class="reserved"><a href="">william.f.bowden [at] gmail [dot] com</a></span>
                        <br/>
            <span class="reserved"><a href="https://github.com/bowwowden" target="_blank">https://github.com/bowwowden</a></span>
                        <br/>
            <span class="reserved header-padding"><a href="www.linkedin.com/in/william-bowden-a4340718b" target="_blank">www.linkedin.com/in/william-bowden-a4340718b</a></span>
            </div>
        </header>

        <div class = "container_12 clearfix">
            <div id = "menu" class = "grid_12">
            <ul>
                <li> <a href = "/">HOME</a> </li>
                <li> <a href = "/blog/">BLOG</a> </li>
                <li> <a href = "/experience/">EXPERIENCE</a> </li>
                <li>
                    <a href="https://drive.google.com/file/d/12FAdJ7RPQz7utdryHOtbRJGfExymm1cw/view?usp=sharing" target = "_blank">RESUME</a>
                </li>
            </ul>
        </div>
        </div>
        
        <div class="container">
			
			{{ content }}
			
        </div><!-- /.container -->
        
        <div id="footer" class = "grid_12">
            <p>&Copy: Copyright 2020</p>
        </div>
        </body>
    </html>
